body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Arial Narrow', sans-serif;
}

main {
    background-color: rgba(160, 147, 147, 0.474);
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    padding: 30px;
    max-width: 450px;
}

main header {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20vh;
}

main div {
    font-size: 40px;
    text-align: center;
}